[Desktop Entry]
Name=PulseAudio Volume Meter (Capture)
GenericName=Capture Volume Meter
Comment=Monitor the input volume
Exec=pavumeter --record
Icon=audio-input-microphone
StartupNotify=true
Type=Application
Categories=AudioVideo;Audio;
